{% extends '@Naidusvoe/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-8 col col-xs-offset-2">
                <div class="jumpbotron">
                    <h1>Доброго дня! Ви отримали особисте повідомлення від користувача {{ Initiator }}</h1>
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}