{% extends '@Naidusvoe/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-8 col col-xs-offset-2">
                <h2>Hello! You get message from {{ Initiator }}</h2>
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
{% endblock %}