{% extends '@Naidusvoe/email.html.twig' %}

{% block emailMsg %}
    <p>
        Щоб відновити ваш пароль перейдіть за наступним посиланням
        <a href="{{ url('password-recover', { 'token': token }) }}">Відновити!</a>
    </p>
{% endblock %}