{% extends '@Naidusvoe/index.html.twig' %}

{% block title %}{{ social_uid }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <form class="form-horizontal" action="{{ path('social_register', {'social_uid': social_uid, 'social_u_field': social_u_field}) }}" method="post">
                    <div class="page-header">
                        <h3 class="text-center">Реєстрація</h3>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="form-control-static" for="sign_user_mail">[[ 'LABEL_EMAIL' | translate ]]</label>
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input type="email" name="email" id="sign_user_mail" class="form-control">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="form-control btn btn-default btn-success btn-">[[ 'BUTTON_SIGNUP' | translate ]]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}