<form name="addAdvForm" enctype="multipart/form-data" ng-init="getAdvDetails();">
    <label>
        Заголовок:
        <input type="text" ng-minlength="3" ng-maxlength="67" name="title" ng-model="addAdv.title" required />
    </label><br/>

    <label>
        Категорія:
        <select name="category" ng-model="addAdv.categoryID" ng-change="subCategories = selectedCategory(addAdv.categoryID)" required>
            <option ng-repeat="category in categories" value="[[ category.id ]]">[[ category.name ]]</option>
        </select>
    </label><br/>

    <label ng-if="(subCategories) && (subCategories.length > 0)">
        Під-категорія:
        <select name="category" ng-init="addAdv.subCategoryID = subCategories[0].id" ng-model="addAdv.subCategoryID" required>
            <option ng-repeat="category in subCategories" value="[[ category.id ]]">[[ category.name ]]</option>
        </select>
    </label><br/>

    <label>
        Опис:
        <textarea ng-minlength="50" ng-maxlength="4000" ng-model="addAdv.description" required></textarea>
    </label><br/>

    <label>
        Фотографії:
    </label><br/>

    <div class="row">
        <div class="col-md-2 col-xs-4">
            <div style="background-color: #f5f5f5; box-shadow: 0 0 5px 0 gray;" ng-click="uploadImage(1);">
                <img src="bundles/naidusvoe/img/plus1.png" class="img-responsive" id="upload_image_1_img"/>
                <input style="display: none;" class="upload_image" id="upload_image_1" type="file"/>
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div style="background-color: #f5f5f5; box-shadow: 0 0 5px 0 gray;" ng-click="uploadImage(2);">
                <img src="bundles/naidusvoe/img/plus1.png" class="img-responsive" id="upload_image_2_img"/>
                <input style="display: none;" class="upload_image" id="upload_image_2" type="file"/>
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div style="background-color: #f5f5f5; box-shadow: 0 0 5px 0 gray;" ng-click="uploadImage(3);">
                <img src="bundles/naidusvoe/img/plus1.png" class="img-responsive" id="upload_image_3_img"/>
                <input style="display: none;" class="upload_image" id="upload_image_3" type="file"/>
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div style="background-color: #f5f5f5; box-shadow: 0 0 5px 0 gray;" ng-click="uploadImage(4);">
                <img src="bundles/naidusvoe/img/plus1.png" class="img-responsive" id="upload_image_4_img"/>
                <input style="display: none;" class="upload_image" id="upload_image_4" type="file"/>
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div style="background-color: #f5f5f5; box-shadow: 0 0 5px 0 gray;" ng-click="uploadImage(5);">
                <img src="bundles/naidusvoe/img/plus1.png" class="img-responsive" id="upload_image_5_img"/>
                <input style="display: none;" class="upload_image" id="upload_image_5" type="file"/>
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div style="background-color: #f5f5f5; box-shadow: 0 0 5px 0 gray;" ng-click="uploadImage(6);">
                <img src="bundles/naidusvoe/img/plus1.png" class="img-responsive" id="upload_image_6_img"/>
                <input style="display: none;" class="upload_image" id="upload_image_6" type="file"/>
            </div>
        </div>
    </div>

    <label>
        Ціна:
        <input type="number" name="price" ng-model="addAdv.price" required />
        <select name="priceType" ng-model="addAdv.priceType" required>
            <option ng-repeat="type in priceTypes" value="[[ type.id ]]">[[ type.name ]]</option>
        </select>
    </label><br/>

    <label>
        Контактна особа:
        <input type="text" name="contactPerson" ng-model="addAdv.contactPerson" required />
    </label><br/>

    <label>
        Email:
        <input type="email" name="email" ng-model="addAdv.email" required />
    </label><br/>

    <label>
        Номер телефону:
        <input type="tel" name="telephone" ng-model="addAdv.telephoneNumber" required />
    </label><br/>

    <label>
        Skype:
        <input type="text" name="skype" ng-maxlength="50" ng-model="addAdv.skype" />
    </label><br/>

    <div class="row">
        <div class="col-md-2 col-xs-4">
            <h4>Послуга 1</h4>
            <input type="checkbox"/>
        </div>
        <div class="col-md-2 col-xs-4">
            <h4>Послуга 2</h4>
            <input type="checkbox"/>
        </div>
        <div class="col-md-2 col-xs-4">
            <h4>Послуга 3</h4>
            <input type="checkbox"/>
        </div>
        <div class="col-md-2 col-xs-4">
            <h4>Послуга 4</h4>
            <input type="checkbox"/>
        </div>
        <div class="col-md-2 col-xs-4">
            <h4>Розмістити</h4>
            <input type="checkbox" required/>
        </div>

        <div class="col-md-2 col-xs-4">
            <a class="btn btn-success" ng-if="addAdvForm.$valid" ng-click="addNewAdv(addAdv);">Опублікувати</a>
        </div>
    </div>
</form>