<div class="row">
    <div class="col-xs-12">
        <h3 align="center">
            [[ 'ADDITIONAL_HEADING' | translate ]]
        </h3>

        <p>
            [[ 'ADDITIONAL_DESCR' | translate ]]
        </p>

        <ul>
            <li>
                <p>
                    [[ 'ADDITIONAL_FEATURE1' | translate ]]
                </p>
            </li>

            <li>
                <p>
                    [[ 'ADDITIONAL_FEATURE2' | translate ]]
                </p>
            </li>

            <li>
                <p>
                    [[ 'ADDITIONAL_FEATURE3' | translate ]]
                </p>
            </li>

            <li>
                <p>[[ 'ADDITIONAL_FEATURE4' | translate ]]</p>
                <div class="well">
                    [[ 'ADDITIONAL_FEATURE4_DESCR' | translate ]]
                </div>
            </li>

            <li>
                <p>
                    [[ 'ADDITIONAL_FEATURE5' | translate ]]
                </p>
            </li>

            <li>
                <p>
                    [[ 'ADDITIONAL_FEATURE6' | translate ]]
                </p>
            </li>
        </ul>
    </div>
</div>