<div class="row" ng-init="getInfo();">
    <div class="col-md-12 hidden-sm hidden-xs">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="/cabinet">Оголошення</a>
            <a class="btn btn-default" href="/cabinet/messages">Повідомлення</a>
            <a class="btn btn-default active" href="/cabinet/settings">Налаштування</a>
            <a class="btn btn-default" href="/cabinet/favorites">Обранне</a>
        </div>
    </div>
    <div class="col-xs-12 hidden-lg hidden-md">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="/cabinet">Оголошення</a>
            <a class="btn btn-default" href="/cabinet/messages">Повідомлення</a>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default active" href="/cabinet/settings">Налаштування</a>
            <a class="btn btn-default" href="/cabinet/favorites">Обранне</a>
        </div>
    </div>
</div>

<div class="page-header">
    <h3>Налаштування</h3>
</div>

<div class="row">
    <div class="col-md-3 col-xs-12 col-sm-4">
        <ul class="nav nav-pills btn-group btn-group-justified btn-group-vertical center-block hidden-xs">
            <li class="active" style="width: 100%;">
                <a data-toggle="tab" data-target="#settings-change-contacts" class="btn">Змінити контактні дані</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-change-pass">Змінити пароль</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-change-email">Змінити Email адресу</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-email">Email сповіщення</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-sms">SMS сповіщення</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-delete-account">Видалити обліковий запис</a>
            </li>
        </ul>

        <ul class="nav nav-pills hidden-lg hidden-md hidden-sm">
            <li class="active">
                <a class="btn" data-toggle="tab" data-target="#settings-change-contacts">Змінити контактні дані</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-change-pass">Змінити пароль</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-change-email">Змінити Email адресу</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-email">Email повідомлення</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-sms">SMS–сповіщення</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-delete-account">Видалити обліковий запис</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9 col-xs-12 col-sm-8">
        <div class="row" ng-if="notifications.visible">
            <div class="col-xs-12 fade in" style="margin-top: 10px;">
                <div class="alert" ng-class="notifications.type">
                    <p>[[ notifications.body ]]</p><br/>
                    <button type="button" class="btn btn-default" ng-click="notifications.visible = false;">
                        Закрити
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-content" style="padding-top: 20px;">
            <div id="settings-change-contacts" class="tab-pane fade in active">
                <form name="contactsForm">
                    <p>
                        <b>Область</b>:
                        <select ng-model="contactInfo.region">
                            <option ng-repeat="region in regions" value="[[ region.id ]]">[[ region.name ]]</option>
                        </select><br/>
                    </p>
                    <p>
                        <b>Місто/село</b>:
                        <input type="text" ng-model="contactInfo.city" /><br/>
                    </p>
                    <p>
                        <b>Ім’я</b>:
                        <input type="text" ng-model="contactInfo.name" /><br/>
                    </p>
                    <p>
                        <b>Прізвище</b>: <input type="text" ng-model="contactInfo.surname"/><br/>
                    </p>
                    <p>
                        <b>Контактний номер</b>: <input type="tel" ng-model="contactInfo.telephoneNumber"/><br/>
                    </p>
                    <p>
                        <b>Skype</b>:
                        <input type="text" ng-model="contactInfo.skype"/><br/>
                    </p>
                    <button type="button"
                            class="btn btn-default"
                            ng-click="saveContactInfo(contactInfo);">
                        Зберегти
                    </button>
                </form>
            </div>

            <div id="settings-change-pass" class="tab-pane fade">
                <form name="changePassForm">
                    <p><b>Старий пароль</b>: <input type="password" ng-model="passChange.opass"/><br/></p>
                    <p><b>Новий пароль</b>: <input type="password" ng-model="passChange.pass"/><br/></p>
                    <p><b>Повторіть новий пароль</b>: <input type="password" ng-model="passChange.rpass"/><br/></p>
                    <p>
                        <button type="button"
                                class="btn btn-default"
                                ng-class="{'disabled': (passChange.pass != passChange.rpass) || (!passChange.pass) }"
                                ng-click="changePassword(passChange);">
                            Зберегти
                        </button>
                    </p>
                </form>
            </div>

            <div id="settings-change-email" class="tab-pane fade">
                <form name="changeEmailForm">
                    <b>Новий email</b>: <input type="email" ng-model="emailChange.email"/><br/>
                    <b>Повторіть новий email</b>: <input type="email" ng-model="emailChange.remail"/><br/>
                    <button type="button"
                            class="btn btn-default"
                            ng-class="{'disabled': (emailChange.email != emailChange.remail) || (!emailChange.email) }"
                            ng-click="changeEmail(emailChange);">
                        Змінити пароль
                    </button>
                </form>
            </div>

            <div id="settings-notifications-email" class="tab-pane fade">
                <form>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="emailSettings.notifications" />
                            <b>Я хочу отримувати Email про нові повідомлення</b>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="emailSettings.spam"/>
                            <b>Я хочу отримувати розсилку</b>
                        </label>
                    </p>
                    <p>
                        <button type="button"
                                class="btn btn-default"
                                ng-click="saveEmailNotificationSettings(emailSettings);">
                            Зберегти
                        </button>
                    </p>
                </form>
            </div>

            <div id="settings-notifications-sms" class="tab-pane fade">
                <form>
                    <p>
                        <input type="checkbox" ng-model="smsSettings.notifications" />
                        <b>Я хочу отримувати Sms про нові повідомлення</b>
                    </p>
                    <p ng-if="smsSettings.notifications">
                        <b>Номер телефону</b>: <br/>
                        <input type="tel" ng-model="smsSettings.telephoneNumber"/>
                    </p>
                    <p>
                        <button type="button"
                                class="btn btn-default"
                                ng-click="saveSmsNotificationSettings(smsSettings);">
                            Зберегти
                        </button>
                    </p>
                </form>
            </div>

            <div id="settings-delete-account" class="tab-pane fade">
                <a ng-href="[[ urlDeleteAccount ]]" target="_self">
                    Видалити аккаунт
                </a>
            </div>
        </div>
    </div>
</div>