<div class="row" ng-init="getInfo();">
    <div class="col-md-12 hidden-sm hidden-xs">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="/cabinet">[[ 'BUTTON_ADVERTISMENT' | translate ]]</a>
            <a class="btn btn-default" href="/cabinet/messages">[[ 'BUTTON_MESSAGES' | translate ]]</a>
            <a class="btn btn-default active" href="/cabinet/settings">[[ 'BUTTON_SETTINGS' | translate ]]</a>
            <a class="btn btn-default" href="/cabinet/favorites">[[ 'BUTTON_FAVORITES' | translate ]]</a>
        </div>
    </div>
    <div class="col-xs-12 hidden-lg hidden-md">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="/cabinet">[[ 'BUTTON_ADVERTISMENT' | translate ]]</a>
            <a class="btn btn-default" href="/cabinet/messages">[[ 'BUTTON_MESSAGES' | translate ]]</a>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default active" href="/cabinet/settings">[[ 'BUTTON_SETTINGS' | translate ]]</a>
            <a class="btn btn-default" href="/cabinet/favorites">[[ 'BUTTON_FAVORITES' | translate ]]</a>
        </div>
    </div>
</div>

<div class="page-header">
    <h3>[[ 'SETTINGS_HEADER' | translate ]]</h3>
</div>

<div class="row" ng-if="spinner">
    <div class="col-xs-12 text-center" style="padding-top: 150px;">
        <div class="center-block whirly"></div>
    </div>
</div>


<div class="row" ng-if="!spinner"  style="margin-bottom: 10px;">
    <div class="col-md-3 col-xs-12 col-sm-4">
        <ul class="nav nav-pills btn-group btn-group-justified btn-group-vertical center-block hidden-xs">
            <li class="active" style="width: 100%;">
                <a data-toggle="tab" data-target="#settings-change-contacts" class="btn">[[ 'TAB_CHANGE_CONTACT_INFO' | translate ]]</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-change-pass">[[ 'TAB_CHANGE_PASS' | translate ]]</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-change-email">[[ 'TAB_CHANGE_EMAIL' | translate ]]</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-email">[[ 'TAB_CHANGE_EMAIL_NOTIFICATIONS' | translate ]]</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-sms">[[ 'TAB_CHANGE_SMS_NOTIFICATIONS' | translate ]]</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-delete-account">[[ 'TAB_DELETE_ACCOUNT' | translate ]]</a>
            </li>
        </ul>

        <ul class="nav nav-pills hidden-lg hidden-md hidden-sm">
            <li class="active">
                <a class="btn" data-toggle="tab" data-target="#settings-change-contacts">[[ 'TAB_CHANGE_CONTACT_INFO' | translate ]]</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-change-pass">З[[ 'TAB_CHANGE_PASS' | translate ]]</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-change-email">[[ 'TAB_CHANGE_EMAIL' | translate ]]</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-email">[[ 'TAB_CHANGE_EMAIL_NOTIFICATIONS' | translate ]]</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-sms">[[ 'TAB_CHANGE_SMS_NOTIFICATIONS' | translate ]]</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-delete-account">[[ 'TAB_DELETE_ACCOUNT' | translate ]]</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9 col-xs-12 col-sm-8">
        <div class="tab-content" style="padding-top: 20px;">
            <div id="settings-change-contacts" class="tab-pane fade in active">
                <form name="contactsForm">
                    <p>
                        <b>[[ 'LABEL_REGION' | translate ]]</b> <br/>
                        <select class="form-control" ng-model="contactInfo.region">
                            <option ng-repeat="region in regions" value="[[ region.id ]]">[[ region.name ]]</option>
                        </select><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_CITY' | translate ]]</b> <br/>
                        <input type="text" class="form-control" ng-model="contactInfo.city" /><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_NAME' | translate ]]</b> <br/>
                        <input type="text" class="form-control" ng-model="contactInfo.name" /><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_LAST_NAME' | translate ]]</b>  <br/>
                        <input type="text" class="form-control" ng-model="contactInfo.surname"/><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_CONTACT_NUMBER' | translate ]]</b> <br/>
                        <input type="tel" class="form-control" ng-model="contactInfo.telephoneNumber"/><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_SKYPE' | translate ]]</b> <br/>
                        <input type="text" class="form-control" ng-model="contactInfo.skype"/><br/>
                    </p>
                    <button type="button"
                            class="btn btn-default"
                            ng-click="saveContactInfo(contactInfo);">
                        [[ 'BUTTON_SAVE' | translate ]]
                    </button>
                </form>
            </div>

            <div id="settings-change-pass" class="tab-pane fade">
                <form name="changePassForm">
                    <p>
                        <b>[[ 'LABEL_OLD_PASS' | translate ]]</b> <br/>
                        <input type="password" class="form-control" ng-model="passChange.opass"/><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_NEW_PASS' | translate ]]</b> <br/>
                        <input type="password" class="form-control" ng-model="passChange.pass"/><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_NEW_RPASS' | translate ]]</b> <br/>
                        <input type="password" class="form-control" ng-model="passChange.rpass"/><br/>
                    </p>
                    <p>
                        <button type="button"
                                class="btn btn-default"
                                ng-class="{'disabled': (passChange.pass != passChange.rpass) || (!passChange.pass) }"
                                ng-click="changePassword(passChange);">
                            [[ 'BUTTON_SAVE' | translate ]]
                        </button>
                    </p>
                </form>
            </div>

            <div id="settings-change-email" class="tab-pane fade">
                <form name="changeEmailForm">
                    <p>
                        <b>[[ 'LABEL_NEW_EMAIL' | translate ]]</b> <br/>
                        <input type="email" class="form-control" ng-model="emailChange.email"/><br/>
                    </p>
                    <p>
                        <b>[[ 'LABEL_NEW_REMAIL' | translate ]]</b> <br/>
                        <input type="email" class="form-control" ng-model="emailChange.remail"/><br/>
                    </p>
                    <button type="button"
                            class="btn btn-default"
                            ng-class="{'disabled': (emailChange.email != emailChange.remail) || (!emailChange.email) }"
                            ng-click="changeEmail(emailChange);">
                        [[ 'BUTTON_SAVE' | translate ]]
                    </button>
                </form>
            </div>

            <div id="settings-notifications-email" class="tab-pane fade">
                <form>
                    <p>
                        <label>
                            <input type="checkbox" class="checkbox checkbox-inline" ng-model="emailSettings.notifications" />
                            <b>[[ 'LABEL_NEW_MAIL_NOTIFICATIONS' | translate ]]</b>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="checkbox checkbox-inline" ng-model="emailSettings.spam"/>
                            <b>[[ 'LABEL_EMAIL_SPAM' | translate ]]</b>
                        </label>
                    </p>
                    <p>
                        <button type="button"
                                class="btn btn-default"
                                ng-click="saveEmailNotificationSettings(emailSettings);">
                            [[ 'BUTTON_SAVE' | translate ]]
                        </button>
                    </p>
                </form>
            </div>

            <div id="settings-notifications-sms" class="tab-pane fade">
                <form>
                    <p>
                        <input type="checkbox" class="checkbox checkbox-inline" ng-model="smsSettings.notifications" />
                        <b>[[ 'LABEL_NEW_SMS_NOTIFICATIONS' | translate ]]</b>
                    </p>
                    <p ng-if="smsSettings.notifications">
                        <b>[[ 'LABEL_TELEPHONE_NUMBER' | translate ]]</b> <br/>
                        <input type="tel" class="form-control" ng-model="smsSettings.telephoneNumber"/>
                    </p>
                    <p>
                        <button type="button"
                                class="btn btn-default"
                                ng-click="saveSmsNotificationSettings(smsSettings);">
                            [[ 'BUTTON_SAVE' | translate ]]
                        </button>
                    </p>
                </form>
            </div>

            <div id="settings-delete-account" class="tab-pane fade">
                <a ng-href="[[ urlDeleteAccount ]]" target="_self">
                    [[ 'LINK_DELETE_ACCOUNT' | translate ]]
                </a>
            </div>
        </div>
        <div class="row" ng-if="notifications.visible">
            <div class="col-xs-12 fade in" style="margin-top: 10px;">
                <div class="alert" ng-class="notifications.type">
                    <p>[[ notifications.body ]]</p><br/>
                    <button type="button" class="btn btn-default" ng-click="notifications.visible = false;">
                        [[ 'BUTTON_CLOSE' | translate ]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>