<div class="row" ng-init="getInfo();">
    <div class="col-md-12 hidden-sm hidden-xs">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="/cabinet">Оголошення</a>
            <a class="btn btn-default" href="/cabinet/messages">Повідомлення</a>
            <a class="btn btn-default active" href="/cabinet/settings">Налаштування</a>
            <a class="btn btn-default" href="/cabinet/favorites">Обранне</a>
        </div>
    </div>
    <div class="col-xs-12 hidden-lg hidden-md">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="/cabinet">Оголошення</a>
            <a class="btn btn-default" href="/cabinet/messages">Повідомлення</a>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default active" href="/cabinet/settings">Налаштування</a>
            <a class="btn btn-default" href="/cabinet/favorites">Обранне</a>
        </div>
    </div>
</div>

<div class="page-header">
    <h3>Налаштування</h3>
</div>

<div class="row">
    <div class="col-md-3 col-xs-12 col-sm-4">
        <ul class="nav nav-pills btn-group btn-group-justified btn-group-vertical center-block hidden-xs">
            <li class="active" style="width: 100%;">
                <a data-toggle="tab" data-target="#settings-change-contacts" class="btn">Змінити контактні дані</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-change-pass">Змінити пароль</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-change-email">Змінити Email адресу</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-email">Email сповіщення</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-sms">SMS сповіщення</a>
            </li>
            <li style="width: 100%;">
                <a class="btn" data-toggle="tab" data-target="#settings-delete-account">Видалити обліковий запис</a>
            </li>
        </ul>

        <ul class="nav nav-pills hidden-lg hidden-md hidden-sm">
            <li class="active">
                <a class="btn" data-toggle="tab" data-target="#settings-change-contacts">Змінити контактні дані</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-change-pass">Змінити пароль</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-change-email">Змінити Email адресу</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-email">Email повідомлення</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-notifications-sms">SMS–сповіщення</a>
            </li>
            <li>
                <a class="btn" data-toggle="tab" data-target="#settings-delete-account">Видалити обліковий запис</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9 col-xs-12 col-sm-8">
        <div class="tab-content" style="padding-top: 20px;">
            <div id="settings-change-contacts" class="tab-pane fade in active">
                <form name="contactsForm">
                    <b>Область</b>:
                    <select name="" ng-model="contactInfo.region">
                        <option value="1">Автономна Республіка Крим</option>
                        <option value="2">Вінницька область</option>
                        <option value="3">Волинська область</option>
                        <option value="4">Дніпропетровська область</option>
                        <option value="5">Донецька область</option>
                        <option value="6">Житомирська область</option>
                        <option value="7">Закарпатська область</option>
                        <option value="8">Запорізька область</option>
                        <option value="9">Івано-Франківська область</option>
                        <option value="10">Київська область</option>
                        <option value="11">Кіровоградська область</option>
                        <option value="12">Луганська область</option>
                        <option value="13">Львівська область</option>
                        <option value="14">Миколаївська область</option>
                        <option value="15">Одеська область</option>
                        <option value="16">Полтавська область</option>
                        <option value="17">Рівненська область</option>
                        <option value="18">Сумська область</option>
                        <option value="19">Тернопільська область</option>
                        <option value="20">Харківська область</option>
                        <option value="21">Херсонська область</option>
                        <option value="22">Черкаська область</option>
                        <option value="23">Чернівецька область</option>
                        <option value="24">Чернігівська область</option>
                    </select><br/>
                    <b>Місто/село</b>:
                    <input type="text" ng-model="contactInfo.city" /><br/>
                    <b>Ім’я</b>:
                    <input type="text" ng-model="contactInfo.name" /><br/>
                    <b>Прізвище</b>: <input type="text" ng-model="contactInfo.surname"/><br/>
                    <b>Контактний номер</b>: <input type="tel" ng-model="contactInfo.telephoneNumber"/><br/>
                    <b>Skype</b>:
                    <input type="text" ng-model="contactInfo.skype"/><br/>
                    <button type="button" ng-click="saveContactInfo(contactInfo);">Зберегти</button>
                </form>
            </div>

            <div id="settings-change-pass" class="tab-pane fade">
                <form name="changePassForm">
                    <b>Старий пароль</b>: <input type="password"/><br/>
                    <b>Новий пароль</b>: <input type="password"/><br/>
                    <b>Повторіть новий пароль</b>: <input type="password"/><br/>
                    <button type="button" ng-click="changePassword(passChange);">Зберегти</button>
                </form>
            </div>

            <div id="settings-change-email" class="tab-pane fade">
                <form name="changeEmailForm">
                    <b>Новий email</b>: <input type="email"/><br/>
                    <b>Повторіть новий email</b>: <input type="email"/><br/>
                    <button type="button" ng-click="changeEmail(emailChange);">Зберегти</button>
                </form>
            </div>

            <div id="settings-notifications-email" class="tab-pane fade">

            </div>

            <div id="settings-notifications-sms" class="tab-pane fade">

            </div>

            <div id="settings-delete-account" class="tab-pane fade">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>