<div ng-init="getAdvs();"></div>

<div class="page-header">
    <h1>Віддам/Потребую</h1>
</div>

<form class="form-horizontal" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Пошук...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-warning" type="button">Шукати</button>
        </span>
    </div>
</form>

<div class="row" style="padding: 20px;">
    <div ng-repeat="adv in advs" class="col-xs-12 img-thumbnail" style="margin-top: 20px;">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive" ng-src="[[ adv.image ]]" />
            </div>
            <div class="col-xs-9">
                <p class="pull-right text-muted">[[ adv.date ]]</p>
                <div class="clearfix"></div>
                <h3 class="text-info"><a ng-href="/adv/trade/[[ adv.id ]]">[[ adv.title ]]</a></h3>
                <p><b>[[ adv.subCategory.name ]]</b></p>
                <p>
                    <i>
                        [[ adv.description.substr(0, 100) ]]...
                    </i>
                </p>
                <p>[[ adv.price + ' ' + adv.priceType.name ]]</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" style="margin-bottom: 25px;">
        <nav class="panel panel-default text-center">
            <ul class="pagination">
                <li ng-if="(paginator.first != paginator.current)
                    && (paginator.last > 3)
                    && (paginator.current > paginator.first + 3)">
                    <a ng-href="/trade/[[ paginator.first ]]">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li ng-if="(paginator.first + 1 < paginator.current)
                    && (paginator.last > 3)
                    && (paginator.current > paginator.first + 3)">
                    <a ng-href="/trade/[[ paginator.first + 1 ]]">
                        [[ paginator.first + 1 ]]
                    </a>
                </li>
                <li ng-if="(paginator.first + 1 < paginator.current)
                    && (paginator.last > 3)
                    && (paginator.current > paginator.first + 3)">>
                    <a>...</a>
                </li>

                <li ng-repeat="i in paginator.pages"
                    ng-if="(i >= paginator.current - 3) && (i <= paginator.current + 3)"
                    ng-class="{'active': i == paginator.current }">
                    <a ng-href="/trade/[[ i ]]">[[ i ]]</a>
                </li>

                <li ng-if="(paginator.last - 1 > paginator.current)
                    && (paginator.last > 3)
                    && (paginator.current < paginator.last - 3)">
                    <a>...</a>
                </li>

                <li ng-if="(paginator.last - 1 > paginator.current)
                    && (paginator.last > 3)
                    && (paginator.current < paginator.last - 3)">
                    <a ng-href="/trade/[[ paginator.last - 1 ]]">
                        [[ paginator.last - 1 ]]
                    </a>
                </li>
                <li ng-if="(paginator.last != paginator.current)
                    && (paginator.last > 3)
                    && (paginator.current < paginator.last - 3)">
                    <a ng-href="/trade/[[ paginator.last ]]">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>