<div ng-init="getAdv();">

    <b>Назва</b>: [[ adv.title ]]<br/>
    <b>Опис</b>: <br/>[[ adv.description ]]<br/>
    <b>Тип</b>: [[ adv.type.name ]]<br/>
    <b>Категорія</b>: [[ adv.category.name ]]<br/>
    <b>Під-категорія</b>: [[ adv.subCategory.name ]]<br/>
    <b>Ціна</b>: [[ adv.price + ' ' + adv.priceType.name ]].<br/>
    <b>Контактна персона</b>: [[ adv.contactPerson ]]<br/>
    <b>email</b>: [[ adv.email ]]<br/>
    <b>Мобільний телефон</b>: [[ adv.telephoneNumber ]]<br/>
    <div ng-if="adv.skype"><b>Skype</b>: [[ adv.skype ]]</div><br/>

    <div class="row">
        <div class="col-md-2 col-xs-4" ng-repeat="image in adv.attachments">
            <a ng-href="[[ image.image ]]" rel="lightbox" data-lightbox="someimage">
                <img class="img-responsive img-thumbnail" ng-src="[[ image.image ]]" alt=""/>
            </a>
        </div>
    </div>
</div>