<div ng-init="getAdvs();"></div>

<div class="page-header" style="margin-top: 0;">
    <h3>[[ 'BUTTON_CATEGORY_TRADE' | translate ]]</h3>
</div>

<form class="form-horizontal" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="[[ 'SEARCH_PLACEHOLDER' | translate ]]">
        <span class="input-group-btn">
            <button class="btn btn-default btn-warning" type="button">[[ 'BUTTON_SEARCH' | translate ]]</button>
        </span>
    </div>
</form>


<div class="row">
    <div class="col-xs-4 col-md-3" style="margin-top: 10px;">
        <div class="list-group">
            <h4 class="list-group-item list-group-item-info" align="center" style="color: #000000; padding: 10px 5px;">
                [[ 'CATEGORIES_HEADER' | translate ]]
            </h4>
            <a class="btn btn-default list-group-item" style="cursor: pointer; text-align: left; white-space: normal;"
               ng-repeat="category in categories"
               ng-click="selectCategory(category.id);"
               ng-class="{'category-selected': category.id == filterID }">
                [[ category.name ]]
            </a>
            <a class="btn btn-default list-group-item" style="cursor: pointer; text-align: left;"
               ng-click="selectCategory(null);"
               ng-class="{'category-selected': filterID == null }">
                [[ 'BUTTON_CATEGORIES_ALL' | translate ]]
            </a>
        </div>
    </div>

    <div class="col-xs-8 col-md-9">
        <div class="row">
            <div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 20px; height: 100%;">
                <a class="img-thumbnail adv-shadow" ng-href="/adv/trade/[[ adv.id ]]">
                    <div class="col-xs-12">
                        <div style="padding: 15px;">
                            <img class="img-responsive center-block" style="height: 150px;" ng-src="[[ adv.image ]]" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr/>
                        <p class="text-info" style="height: 50px; word-wrap: break-word;">
                            [[ adv.title ]]
                        </p>
                        <hr/>
                        <p style="overflow: hidden; text-overflow: ellipsis;">
                            <i style="white-space: nowrap;" class="text-muted">
                                [[ adv.description ]]...
                            </i>
                        </p>
                        <hr/>
                        <p style="color: #000000;">
                            [[ adv.price + ' ' + adv.priceType.name ]]
                        </p>
                    </div>
                </a>
            </div>

            <paginator data="data"></paginator>
        </div>
    </div>
</div>