<div id="block-one-form" ng-controller="addAdvertisementController as adv" ng-init="getAdvDetails();" style="margin-top: 20px;">
    <div ng-show="adv.showPreview === false">
        <h1 class="podaty">
            Подати оголошення
        </h1>
        <form name="addAdvForm" id="pod-og" novalidate ng-submit="addNewAdv(addAdv);">
            <ul class="pod-form">
                <li class="value"><p class="obov">Заголовок</p></li>
                <li class="input">
                    <input type="text"
                           class="form-input"
                           name="title"
                           ng-minlength="3"
                           ng-maxlength="67"
                           ng-model="addAdv.title"
                           required
                           style="cursor: auto;" />
                </li>

                <li class="value"><p class="obov">Тип</p></li>
                <li class="input">
                    <select ng-model="typeModel.typeID" class="form-input" required>
                        <option ng-repeat="type in adv.types" value="[[ $index ]]">
                            [[ type.label | translate ]]
                        </option>
                    </select>
                </li>

                <li class="value"><p class="obov">Розділ</p></li>
                <li class="input">
                    <select ng-model="typeModel.categoryID" class="form-input" required>
                        <option ng-repeat="category in adv.types[typeModel.typeID].items"
                                value="[[ $index ]]">
                            [[ category.label | translate ]]
                        </option>
                    </select>
                </li>

                <li class="value" ng-if="adv.types[typeModel.typeID].items[typeModel.categoryID].items.length > 0">
                    <p class="obov">Рубрика</p>
                </li>
                <li class="input" ng-if="adv.types[typeModel.typeID].items[typeModel.categoryID].items.length > 0">
                    <select name="category" ng-model="typeModel.subCategoryID" class="form-input" required>
                        <option ng-repeat="sub in adv.types[typeModel.typeID].items[typeModel.categoryID].items"
                                value="[[ $index ]]">
                            [[ sub.label | translate ]]
                        </option>
                    </select>
                </li>

                <li class="value"><p class="obov">Опис</p></li>
                <li class="input text">
                    <textarea class="form-input"
                              ng-minlength="20"
                              ng-maxlength="10000"
                              ng-model="addAdv.description"
                              required></textarea>
                </li>

                <li class="value"><p class="obov">Фотографії</p></li>
                <li class="input photo" style="margin-bottom: 20px;">
                    <adv-image ng-repeat="photo in addAdv.photos | limitTo: adv.photoLimit" file="photo" image="photo.image"></adv-image>
                </li>

                <li class="clearfix"></li>

                <li class="value"><p class="obov">Ціна</p></li>
                <li class="input">
                    <input type="number"
                           class="form-input"
                           name="price"
                           ng-model="addAdv.price"
                           style="margin-top: 10px;"
                           required />
                </li>

                <li class="value"><p class="obov">Валюта</p></li>
                <li class="input">
                    <select name="priceType" ng-model="addAdv.priceType" class="form-input" required>
                        <option ng-repeat="type in priceTypes" value="[[ type.id ]]">[[ type.name ]]</option>
                    </select>
                </li>


                <li class="line"></li>

                <li class="zagol">
                    <h2>Ваші контактні дані</h2>
                </li>

                <li class="value"><p class="obov">Контактна особа</p></li>
                <li class="input">
                    <input type="text"
                           class="form-input"
                           name="contactPerson"
                           ng-model="addAdv.contactPerson"
                           ng-minlength="3"
                           required>
                </li>

                <li class="value"><p class="obov">Область</p></li>
                <li class="input">
                    <select name="region" ng-model="addAdv.region" class="form-input" required>
                        <option ng-repeat="region in regions" value="[[ region.id ]]">[[ region.name ]]</option>
                    </select>
                </li>

                <li class="value"><p class="obov">Населений пункт</p></li>
                <li class="input">
                    <input type="text"
                           class="form-input"
                           name="contactPerson"
                           ng-model="addAdv.city"
                           ng-minlength="2"
                           required>
                </li>

                <li class="value"><p class="obov">E-mail адреса</p></li>
                <li class="input">
                    <input type="text"
                           class="form-input"
                           name="email"
                           ng-model="addAdv.email"
                           required>
                </li>

                <li class="value"><p>Номер телефону:</p></li>
                <li class="input">
                    <input type="tel"
                           placeholder="+380904514325"
                           class="form-input"
                           name="telephone"
                           ng-model="addAdv.telephoneNumber"
                           required>
                </li>

                <li class="value"><p>Skype</p></li>
                <li class="input">
                    <input type="text"
                           class="form-input"
                           name="skype"
                           ng-minlength="1"
                           ng-maxlength="255"
                           ng-model="addAdv.skype">
                </li>

                <li class="line"></li>

                <li class="zagol">
                    <h2>Згода на обробку даних</h2>
                </li>

                <li class="input sto">
                    <input type="checkbox" ng-model="addAdv.agreement" id="zgoda" required>
                    <p>Я погоджуюся з правилами викростання сервісу, а також з наданням даних у znaidusvoe.com. Я підтверджую свє повноліття і відповідальність за розміщення об’яви.</p>
                </li>

                <li class="line"></li>

                <li class="input sto">
                    <button type="submit" ng-disabled="addAdvForm.$invalid" class="btn btn-warning">Надіслати</button>
                    <button type="button" ng-disabled="addAdvForm.$invalid" class="btn btn-success" ng-click="adv.togglePreview();">
                        Попередній перегляд
                    </button>
                </li>
            </ul>
        </form>
    </div>

    <div ng-hide="adv.showPreview === false">
        <h1 class="podaty">
            [[ 'PREVIEW' | translate ]]
        </h1>
        <ul style="list-style: none; margin: 0">
            <li class="input sto">
                <button type="button" ng-click="adv.togglePreview();" class="btn btn-success">
                    [[ 'GO_BACK' | translate ]]
                </button>
                <button type="button" ng-click="addNewAdv(addAdv);" ng-disabled="addAdvForm.$invalid" class="btn btn-warning">
                    [[ 'PUBLISH' | translate ]]
                </button>
            </li>
        </ul>
        <div id="content" style="margin-top: 0;">
            <div class="ogol-box">

                <div class="face">
                    <p class="name">[[ advUser.name ]]</p>
                    <div class="p-photo">
                        <img ng-src="[[ advUser.avatar ]]" alt="[[ advUser.name ]]">
                    </div>

                    <div class="reiting">
                        <ul>
                            <li class="vote" ng-class="{ 'none': advUser.rating < 2 }"></li>
                            <li class="vote" ng-class="{ 'none': advUser.rating < 4 }"></li>
                            <li class="vote" ng-class="{ 'none': advUser.rating < 6 }"></li>
                            <li class="vote" ng-class="{ 'none': advUser.rating < 8 }"></li>
                            <li class="vote" ng-class="{ 'none': advUser.rating < 10 }"></li>
                        </ul>
                        <p>
                            [[ 'LABEL_RATING' | translate ]]
                            <span>[[ advUser.rating ]]</span>
                        </p>
                        <p>[[ 'VOTES_COUNT' | translate ]]: <span>[[ advUser.votesCount ]]</span></p>
                    </div>

                    <p class="connect">
                        [[ 'LABEL_CONTACT_PERSON' | translate ]]<br>
                        <span>[[ addAdv.contactPerson ]]</span>
                    </p>
                    <p class="connect">
                        Email: <br>
                        <span>[[ addAdv.email ]]</span>
                    </p>
                    <p class="connect">
                        [[ 'LABEL_MOBILE_PHONE' | translate ]]<br>
                        <span>[[ addAdv.telephoneNumber ]]</span>
                    </p>
                    <p class="connect" ng-if="addAdv.skype">
                        Skype: <br>
                        <span>[[ addAdv.skype ]]</span>
                    </p>

                </div>

                <div class="ogolosh">
                    <div class="ogol-header">
                        <h1 class="zirka">[[ addAdv.title ]]</h1>
                        <p class="add-date">
                            [[ 'ADDED' | translate ]]: <span id="date">[[ addAdv.date | date ]]</span>
                            <span id="time">[[ addAdv.time | date ]]</span>
                        </p>
                    </div>
                    <div class="gallery">
                        <ul class="photo">
                            <li id="big-photo">
                                <img ng-src="[[ adv.selectedImage.image ]]" alt="[[ addAdv.title ]]">
                                <ul>
                                    <li id="prev-1" ng-repeat="image in addAdv.photos"
                                        style="cursor: pointer;"
                                        ng-if="image.image !== null"
                                        ng-click="adv.selectedImage = image;">
                                        <img ng-src="[[ image.image ]]" alt="[[ addAdv.title ]]">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="tsina">
                        <p>
                            <span>[[ 'LABEL_PRICE' | translate ]]</span>
                            <span>[[ addAdv.price + ' ' + priceTypes[addAdv.priceType].name ]]</span>
                        </p>
                    </div>

                    <div id="opys">
                        <p>[[ addAdv.description ]]</p>
                    </div>

                    <div class="ogolosh-info">
                        <p>
                            [[ 'LABEL_CATEGORY' | translate ]] <br>
                            <span>[[ addAdv.category.label | translate ]]</span>
                        </p>
                        <p ng-if="addAdv.subCategory !== null">
                            [[ 'LABEL_SUB_CATEGORY' | translate ]] <br>
                            <span>[[ addAdv.subCategory.label ]]</span>
                        </p>
                    </div>
                    <div class="ogolosh-info">
                        <p>
                            [[ 'LABEL_REGION' | translate ]] <br>
                            <span>[[ regions[addAdv.region].name ]]</span>
                        </p>
                        <p>
                            [[ 'LABEL_CITY' | translate ]] <br>
                            <span>[[ addAdv.city ]]</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="login_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">[[ 'LOGIN_HEADER' | translate ]]</h4>
                </div>
                <div class="modal-body">
                    <p><label for="accept-pass">[[ 'INPUT_PASS' | translate ]]: <strong>[[ adv.modalEmail ]]</strong></label></p>
                    <ul class="pod-form" style="width: 100%; margin: 0 auto;">
                        <li class="input" style="width: 100%;">
                            <input type="password"
                                   ng-model="addAdv.password"
                                   id="accept-pass"
                                   class="form-input"
                                   ng-minlength="5"
                                   ng-maxlength="30"
                                   required
                                   style="width: 100%">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="addNewAdv(addAdv);" class="btn btn-warning">[[ 'ACCEPT' | translate ]]</button>
                </div>
            </div>
        </div>
    </div>
</div>