<div id="block-one-form" ng-controller="advertismentController as adv" ng-init="getAdvDetails();">
    <h1 class="podaty">
        Подати оголошення
    </h1>
    <form name="addAdvForm" id="pod-og" novalidate ng-submit="addNewAdv(addAdv);">
        <ul class="pod-form">
            <li class="value"><p class="obov">Заголовок</p></li>
            <li class="input">
                <input type="text"
                       name="title"
                       ng-minlength="3"
                       ng-maxlength="67"
                       ng-model="addAdv.title"
                       required
                       style="cursor: auto;" />
            </li>

            <li class="value"><p class="obov">Тип</p></li>
            <li class="input">
                <select ng-model="addAdv.typeID"
                        ng-change="subCategories = selectedCategory(addAdv.categoryID)"
                        required>
                    <option ng-repeat="type in advTypes" value="[[ ::type.id ]]">
                        [[ ::type.name | translate ]]
                    </option>
                </select>
            </li>

            <li class="value"><p class="obov">Розділ</p></li>
            <li class="input">
                <select ng-model="addAdv.categoryID"
                        ng-change="subCategories = selectedCategory(addAdv.categoryID)"
                        required>
                    <option ng-repeat="category in categories" value="[[ ::category.id ]]">
                        [[ ::category.name | translate ]]
                    </option>
                </select>
            </li>

            <li class="value"><p class="obov">Рубрика</p></li>
            <li class="input">
                <select name="category"
                        ng-init="addAdv.subCategoryID = subCategories[0].id"
                        ng-model="addAdv.subCategoryID"
                        required>
                    <option ng-repeat="category in subCategories" value="[[ ::category.id ]]">
                        [[ ::category.name | translate ]]
                    </option>
                </select>
            </li>

            <li class="value"><p class="obov">Опис</p></li>
            <li class="input text">
                <textarea ng-minlength="50" ng-maxlength="4000" ng-model="addAdv.description" required></textarea>
            </li>

            <li class="value"><p class="obov">Фотографії</p></li>
            <li class="input photo" style="margin-bottom: 20px;">
                <adv-image ng-repeat="photo in addAdv.photos" file="photo" image="photo.image"></adv-image>
            </li>

            <li class="value"><p class="obov">Ціна</p></li>
            <li class="input">
                <input type="text" name="price" ng-model="addAdv.price" required />
            </li>

            <li class="value"><p class="obov">Валюта</p></li>
            <li class="input">
                <select name="priceType" ng-model="addAdv.priceType" required>
                    <option ng-repeat="type in priceTypes" value="[[ type.id ]]">[[ type.name ]]</option>
                </select>
            </li>


            <li class="line"></li>

            <li class="zagol">
                <h2>Ваші контактні дані</h2>
            </li>

            <li class="value"><p class="obov">Контактна особа</p></li>
            <li class="input"><input type="text" name="contactPerson" ng-model="addAdv.contactPerson" required></li>

            <li class="value"><p class="obov">Область</p></li>
            <li class="input"><input type="text" name="contactPerson" ng-model="addAdv.region" required></li>

            <li class="value"><p class="obov">Населений пункт</p></li>
            <li class="input"><input type="text" name="contactPerson" ng-model="addAdv.city" required></li>

            <li class="value"><p class="obov">E-mail адреса</p></li>
            <li class="input">
                <input type="text" name="email" ng-model="addAdv.email" required>
                <div style="float: left; width: 100%;">
                    <input type="checkbox" id="no-mail">
                    <label for="no-mail">Не отримувати відповіді на E-mail</label>
                </div>
            </li>

            <li class="value"><p>Номер телефону:</p></li>
            <li class="input"> <input type="text" name="telephone" ng-model="addAdv.telephoneNumber" /></li>

            <li class="value"><p>Skype</p></li>
            <li class="input"><input type="text" name="skype" ng-maxlength="50" ng-model="addAdv.skype" /></li>

            <li class="line"></li>

            <li class="zagol">
                <h2>Згода на обробку даних</h2>
            </li>

            <li class="input sto">
                <input type="checkbox" ng-model="addAdv.agreement" id="zgoda" required>
                <p>Я погоджуюся з правилами викростання сервісу, а також з наданням даних у znaidusvoe.com. Я підтверджую свє повноліття і відповідальність за розміщення об’яви.</p>
            </li>

            <li class="line"></li>

            <li class="input sto">
                <button type="submit" ng-disabled="!addAdvForm.$valid" class="disabled">Надіслати</button>
                <a class="pereglyad" href="#">Попередній перегляд</a>
            </li>
        </ul>
    </form>
</div>