<div ng-controller="advertisementController as trade" ng-init="getAdv();">
    <div id="content">
        <p style="width: 100%;" ng-if="(trade.user !== null) && (trade.user.id !== advUser.id)">
            <a ng-href="[[ '/advertisement/' + trade.type + '/' +  adv_id + '/additional-features' ]]">Additional</a>
        </p>
        <div class="ogol-box">
            <div class="face">
                <p class="name">[[ ::advUser.name ]]</p>
                <div class="p-photo">
                    <img ng-src="[[ ::advUser.avatar ]]" alt="[[ ::advUser.name ]]">
                </div>

                <div class="zvazok" ng-if="(trade.user !== null) && (trade.user.id !== advUser.id)">
                    <a data-target="#send_new_message" data-toggle="modal" class="send-mess" style="cursor: pointer;">
                        [[ 'BUTTON_WRITE_MESSAGE' | translate ]]
                    </a>
                    <a class="add-frend" ng-click="addToFav();" style="cursor: pointer;">
                        [[ 'BUTTON_ADD_TO_FAV' | translate ]]
                    </a>
                </div>

                <div class="reiting">
                    <ul>
                        <li class="vote" ng-class="{ 'none': advUser.rating < 2 }"></li>
                        <li class="vote" ng-class="{ 'none': advUser.rating < 4 }"></li>
                        <li class="vote" ng-class="{ 'none': advUser.rating < 6 }"></li>
                        <li class="vote" ng-class="{ 'none': advUser.rating < 8 }"></li>
                        <li class="vote" ng-class="{ 'none': advUser.rating < 10 }"></li>
                    </ul>
                    <p>
                        [[ 'LABEL_RATING' | translate ]]
                        <span>[[ ::advUser.rating ]]</span>
                    </p>
                    <p>[[ 'VOTES_COUNT' | translate ]]: <span>[[ ::adv.votesCount ]]</span></p>
                </div>

                <p class="connect">
                    [[ 'LABEL_CONTACT_PERSON' | translate ]]<br>
                    <span>[[ ::adv.contactPerson ]]</span>
                </p>
                <p class="connect">
                    Email: <br>
                    <span>[[ ::adv.email ]]</span>
                </p>
                <p class="connect">
                    [[ 'LABEL_MOBILE_PHONE' | translate ]]<br>
                    <span>[[ ::adv.telephoneNumber ]]</span>
                </p>
                <p class="connect" ng-if="adv.skype">
                    Skype: <br>
                    <span>[[ ::adv.skype ]]</span>
                </p>

            </div>

            <div class="ogolosh">
                <div class="ogol-header">
                    <h1 class="zirka">[[ ::adv.title ]]</h1>
                    <p class="add-date">Додане: <span id="time">14:03</span><span id="date"> 02.09.2015</span></p>
                </div>
                <div class="gallery">
                    <ul class="photo">
                        <li id="big-photo">
                            <img ng-src="[[ trade.selectedImage.image ]]" alt="[[ ::adv.title ]]">
                            <ul>
                                <li id="prev-1" ng-repeat="image in adv.attachments"
                                    style="cursor: pointer;"
                                    ng-click="trade.selectedImage = image;">
                                    <img ng-src="[[ ::image.image ]]" alt="[[ ::adv.title ]]">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="tsina">
                    <p>
                        <span>[[ 'LABEL_PRICE' | translate ]]</span>
                        <span>[[ adv.price + ' ' + adv.priceType.name ]]</span>
                    </p>
                </div>

                <div id="opys">
                    <p>[[ ::adv.description ]]</p>
                </div>

                <div class="ogolosh-info">
                    <p>
                        [[ 'LABEL_CATEGORY' | translate ]] <br>
                        <span>[[ ::adv.category.name | translate ]]</span>
                    </p>
                    <p>
                        [[ 'LABEL_SUB_CATEGORY' | translate ]] <br>
                        <span>[[ ::adv.subCategory.name ]]</span>
                    </p>
                </div>
                <div class="ogolosh-info">
                    <p>
                        [[ 'LABEL_REGION' | translate ]] <br>
                        <span>[[ ::adv.region.name ]]</span>
                    </p>
                    <p>
                        [[ 'LABEL_CITY' | translate ]] <br>
                        <span>[[ ::adv.city ]]</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Начало модального окна отправки нового сообщения -->
    <div class="modal fade" id="send_new_message" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        [[ 'SEND_MESSAGE_HEADER' | translate ]]
                    </h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="modal-form">
                        <label for="send-message-textarea">
                            [[ 'SEND_MESSAGE_HEADER' | translate ]]
                        </label>
                        <textarea id="send-message-textarea" rows="10" ng-model="message" style="resize: vertical;" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a class="btn" ng-click="sendNewMessage(message);">
                            [[ 'BUTTON_SEND_MESSAGE' | translate ]]
                        </a>
                        <a class="btn" data-dismiss="modal">
                            [[ 'BUTTON_CLOSE' | translate ]]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Конец модального окна отправки нового сообщения -->
</div>

