<div ng-controller="advertisementController as trade" ng-init="getAdv();">
    <div id="content">
        <p style="width: 100%;" ng-if="(trade.user !== null) && (trade.user.id === advUser.id)">
            <a ng-href="[[ '/advertisement/' + trade.type + '/' +  adv_id + '/additional-features' ]]"
               class="btn btn-warning btn-nowrap btn-sm" style="padding: 5px; margin: 0; border-radius: 0;">
                [[ 'PROMOTE' | translate ]]
            </a>
        </p>
        <div class="ogol-box">
            <div class="face">
                <p class="name">[[ ::advUser.name ]]</p>
                <adaptive-image img-src="::advUser.avatar"
                                img-alt="::advUser.name"
                                img-height="196px"
                                img-width="196px">
                </adaptive-image>

                <div class="zvazok" ng-if="(trade.user !== null) && (trade.user.id !== advUser.id)">
                    <a data-target="#send_new_message" data-toggle="modal" class="send-mess" style="cursor: pointer;">
                        [[ 'BUTTON_WRITE_MESSAGE' | translate ]]
                    </a>
                    <a class="add-frend" ng-click="addToFav();" style="cursor: pointer;">
                        [[ 'BUTTON_ADD_TO_FAV' | translate ]]
                    </a>
                </div>

                <div class="reiting">
                    <ul>
                        <li class="vote" ng-mouseover="trade.hovered = 1" ng-click="trade.changeUserRating(2);"  ng-mouseleave="trade.hovered = 0" ng-class="{ 'none': (advUser.rating < 2 ) && ((trade.hovered !== 1) && (trade.user.id !== advUser.id)) }"></li>
                        <li class="vote" ng-mouseover="trade.hovered = 2" ng-click="trade.changeUserRating(4);"  ng-mouseleave="trade.hovered = 0" ng-class="{ 'none': (advUser.rating < 4 ) && ((trade.hovered !== 2) && (trade.user.id !== advUser.id)) }"></li>
                        <li class="vote" ng-mouseover="trade.hovered = 3" ng-click="trade.changeUserRating(6);"  ng-mouseleave="trade.hovered = 0" ng-class="{ 'none': (advUser.rating < 6 ) && ((trade.hovered !== 3) && (trade.user.id !== advUser.id)) }"></li>
                        <li class="vote" ng-mouseover="trade.hovered = 4" ng-click="trade.changeUserRating(8);"  ng-mouseleave="trade.hovered = 0" ng-class="{ 'none': (advUser.rating < 8 ) && ((trade.hovered !== 4) && (trade.user.id !== advUser.id)) }"></li>
                        <li class="vote" ng-mouseover="trade.hovered = 5" ng-click="trade.changeUserRating(10);" ng-mouseleave="trade.hovered = 0" ng-class="{ 'none': (advUser.rating < 10) && ((trade.hovered !== 5) && (trade.user.id !== advUser.id)) }"></li>
                    </ul>
                    <p>
                        [[ 'LABEL_RATING' | translate ]]
                        <span>[[ ::advUser.rating ]]</span>
                    </p>
                    <p>[[ 'VOTES_COUNT' | translate ]]: <span>[[ ::adv.votesCount ]]</span></p>
                </div>

                <p class="connect">
                    [[ 'LABEL_CONTACT_PERSON' | translate ]]<br>
                    <span>[[ ::adv.contactPerson ]]</span>
                </p>
                <p class="connect">
                    Email: <br>
                    <span>[[ ::adv.email ]]</span>
                </p>
                <p class="connect">
                    [[ 'LABEL_MOBILE_PHONE' | translate ]]<br>
                    <span>[[ ::adv.telephoneNumber ]]</span>
                </p>
                <p class="connect" ng-if="adv.skype">
                    Skype: <br>
                    <span>[[ ::adv.skype ]]</span>
                </p>

            </div>

            <div class="ogolosh">
                <div class="ogol-header">
                    <h1 class="zirka">[[ ::adv.title ]]</h1>
                    <p class="add-date">[[ 'ADDED' | translate ]]: <span id="time">[[ adv.time ]]</span><span id="date"> [[ adv.date ]]</span></p>
                </div>
                <div class="gallery">
                    <ul class="photo">
                        <li id="big-photo">
                            <img ng-src="[[ trade.selectedImage.image ]]" alt="[[ ::adv.title ]]">
                            <ul>
                                <li id="prev-1" ng-repeat="image in adv.attachments"
                                    style="cursor: pointer;"
                                    ng-click="trade.selectedImage = image;">
                                    <img ng-src="[[ ::image.image ]]" alt="[[ ::adv.title ]]">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="tsina">
                    <p>
                        <span>[[ 'LABEL_PRICE' | translate ]]</span>
                        <span>[[ adv.price + ' ' + adv.priceType.name ]]</span>
                        <a ng-if="(trade.user !== null) && (trade.user.id === advUser.id)"
                           ng-href="[[ '/advertisement/' + trade.type + '/' +  adv_id + '/additional-features' ]]"
                           class="btn btn-success btn-nowrap btn-sm pull-right" style="padding: 5px; margin: 0; border-radius: 0">
                            [[ 'SELL_FASTER' | translate ]]
                        </a>
                    </p>
                </div>

                <div id="opys">
                    <p>[[ ::adv.description ]]</p>
                </div>

                <div class="ogolosh-info">
                    <p>
                        <b>[[ 'LABEL_CATEGORY' | translate ]]</b>
                        <span>[[ ::adv.category.name | translate ]]</span>
                    </p>
                    <hr style="margin: 6px;">
                    <p>
                        <b>[[ 'LABEL_SUB_CATEGORY' | translate ]] </b>
                        <span>[[ ::adv.subCategory.name ]]</span>
                    </p>
                </div>
                <div class="ogolosh-info">
                    <p>
                        <b>[[ 'LABEL_REGION' | translate ]]</b>
                        <span>[[ ::adv.region.name ]]</span>
                    </p>
                    <hr style="margin: 6px;">
                    <p>
                        <b>[[ 'LABEL_CITY' | translate ]]</b>
                        <span>[[ ::adv.city ]]</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Начало модального окна отправки нового сообщения -->
    <div class="modal fade" id="send_new_message" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        [[ 'SEND_MESSAGE_HEADER' | translate ]]
                    </h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="modal-form">
                        <label for="send-message-textarea">
                            [[ 'SEND_MESSAGE_HEADER' | translate ]]
                        </label>
                        <textarea id="send-message-textarea" rows="10" ng-model="message" style="resize: vertical;" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a class="btn" ng-click="sendNewMessage(message);">
                            [[ 'BUTTON_SEND_MESSAGE' | translate ]]
                        </a>
                        <a class="btn" data-dismiss="modal">
                            [[ 'BUTTON_CLOSE' | translate ]]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Конец модального окна отправки нового сообщения -->
</div>

