<div id="block-one-form" ng-controller="cabinetMessagesController as cmessages" ng-init="cmessages.getConversations();">
    <div class="row" ng-if="spinner">
        <div class="col-xs-12 text-center" style="padding-top: 150px;">
            <div class="center-block whirly"></div>
        </div>
    </div>

    <h1 class="user">
        Кабінет
    </h1>
    <div class="prof-menu">
        <ul class="profile-menu">
            <li class="profile"><a ng-href="/cabinet">          [[ 'BUTTON_PROFILE' | translate ]]      </a></li>
            <li class="ogolosh"><a ng-href="/cabinet/advs">     [[ 'BUTTON_ADVERTISMENT' | translate ]] </a></li>
            <li class="povid">  <a ng-href="/cabinet/messages"> [[ 'BUTTON_MESSAGES' | translate ]]     </a></li>
            <li class="nalasht"><a ng-href="/cabinet/settings"> [[ 'BUTTON_SETTINGS' | translate ]]     </a></li>
            <li class="obrani"> <a ng-href="/cabinet/favorites">[[ 'BUTTON_FAVORITES' | translate ]]    </a></li>
        </ul>
    </div>

    <div class="profile">
        <p class="p-info">[[ 'MESSAGES_HEADER' | translate ]]</p>

        <div class="info-box" ng-if="cmessages.conversations.length == 0">
            <div class="povidom none">
                <p>Немає повідомлень</p>
            </div>
        </div>

        <div class="info-box" ng-if="cmessages.conversations.length > 0">
            <div class="povidom">

                <div class="message" ng-repeat="conv in cmessages.conversations track by $index">

                    <div ng-if="conv.myself.id != conv.user1.id">
                        <a class="mess-img" href="#">
                            <img ng-src="[[ ::conv.user1.avatar ]]" alt="[[ ::conv.user1.username ]]">
                        </a>
                        <a class="mess-sub" href="#">
                            <span class="name">[[ ::conv.user1.username ]]</span>
                            <!--<span class="date-time">сьогодні 02:12</span>-->
                        </a>
                    </div>

                    <div ng-if="conv.myself.id != conv.user2.id">
                        <a class="mess-img" href="#">
                            <img ng-src="[[ ::conv.user2.avatar ]]" alt="[[ ::conv.user2.username ]]">
                        </a>
                        <a class="mess-sub" href="#">
                            <span class="name">[[ ::conv.user2.username ]]</span>
                            <!--<span class="date-time">сьогодні 02:12</span>-->
                        </a>
                    </div>

                    <a class="mess-text" ng-href="/cabinet/conversation/[[ ::conv.id ]]">
                        [[ ::conv.advertismentTitle ]]
                    </a>
                    <p class="time">[[ ::conv.time ]]</p>
                    <p class="date">[[ ::conv.date ]]</p>
                </div>
            </div>
        </div>
    </div>
</div>