<div id="block-one-form" ng-controller="cabinetFavsController as cabinet" ng-init="cabinet.getFavs();">
    <h1 class="user">
        Кабінет
    </h1>

    <div class="prof-menu">
        <ul class="profile-menu">
            <li class="profile"><a ng-href="/cabinet">          [[ 'BUTTON_PROFILE' | translate ]]      </a></li>
            <li class="ogolosh"><a ng-href="/cabinet/advs">     [[ 'BUTTON_ADVERTISMENT' | translate ]] </a></li>
            <li class="povid">  <a ng-href="/cabinet/messages"> [[ 'BUTTON_MESSAGES' | translate ]]     </a></li>
            <li class="nalasht"><a ng-href="/cabinet/settings"> [[ 'BUTTON_SETTINGS' | translate ]]     </a></li>
            <li class="obrani"> <a ng-href="/cabinet/favorites">[[ 'BUTTON_FAVORITES' | translate ]]    </a></li>
        </ul>
    </div>

    <div class="profile">
        <p class="p-info">Обране</p>

        <div class="info-box" ng-if="(cabinet.favs) && (cabinet.favs.length == 0)">
            <p class="p-info none">[[ 'NO_FAVORITES' | translate ]]</p>
        </div>

        <div class="info-box" ng-if="cabinet.favs.length > 0">
            <div class="o-table width-50">
                <div class="o-column">
                    <advertisment ng-repeat="fav in cabinet.favs track by $index"
                                  advert="fav.advertisment"
                                  show-del-button="false"
                                  show-del-from-fav-button="true"
                                  fav-id="fav.id">
                    </advertisment>
                </div>
            </div>
        </div>
    </div>
</div>