<div id="block-one-form">
    <h1 class="user">
        Кабінет
    </h1>

    <div class="prof-menu">
        <ul class="profile-menu">
            <li class="profile"><a ng-href="/cabinet">Профіль</a></li>
            <li class="ogolosh"><a ng-href="/cabinet/advs">Оголошення</a></li>
            <li class="povid">  <a ng-href="/cabinet/messages">Повідомлення</a></li>
            <li class="nalasht"><a ng-href="/cabinet/settings">Налаштування</a></li>
            <li class="obrani"> <a ng-href="/cabinet/favorites">Обрані</a></li>
        </ul>
    </div>

    <div class="profile">
        <div class="face">
            <p class="name">Андрій</p>
            <div class="p-photo">
                <img src="icon-user-default.png">
            </div>
            <div class="reiting">
                <p>Рейтинг профілю</p>
                <ul>
                    <li class="vote"></li>
                    <li class="vote"></li>
                    <li class="vote"></li>
                    <li class="vote"></li>
                    <li class="vote none"></li>
                </ul>
                <p>Голосів: <span>4</span></p>
                <a href="#">Редагувати аватар</a><br>
                <a href="#">Редагувати ім’я</a>
            </div>
        </div>
        <div class="p-inform">
            <p class="p-info">Загальна інформація</p>
            <div class="info-box">
                <p class="reg-date">Зареєстрований на сайті з <span>12.12.2012</span> р.</p>
                <p class="povidom">Отримано повідомлень <span><a href="#">2</a></span></p>
                <p class="reiting">Рейтинг <span>1</span></p>
                <p class="prodazh">Кількість продаж <span>2</span></p>
                <p class="vidguk">Позитивних відгуків <span>2</span></p>
            </div>
            <p class="p-info">Об’яви користувача</p>
            <div class="info-box">
                <div class="o-table width-50">
                    <div class="o-column">
                        <div class="o-row">
                            <div class="o-cell date">
                                <p><span class="date">Сьогодні</span>
                                    <span class="time">20:20</span></p>
                            </div>
                            <div class="o-cell photo">
                                <img src="skoda.jpg">
                            </div>
                            <div class="o-cell info">
                                <h2 class="term"><a href="#">Skoda Octavia</a></h2>
                                <p>5-ти дверний ліфтбек класу "С". Третє покоління моделі "Octavia"</p>
                                <h3><a href="#">Київ</a></h3>
                            </div>
                            <div class="o-cell price">
                                <p>12000$</p>
                                <ul class="reit">
                                    <li class="wote"></li>
                                    <li class="comment">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="o-row">
                            <div class="o-cell date">
                                <p><span class="date">Сьогодні</span>
                                    <span class="time">20:20</span></p>
                            </div>
                            <div class="o-cell photo">
                                <img src="skoda.jpg">
                            </div>
                            <div class="o-cell info">
                                <h2 class="term"><a href="#">Skoda Octavia</a></h2>
                                <p>5-ти дверний ліфтбек класу "С". Третє покоління моделі "Octavia"</p>
                                <h3><a href="#">Київ</a></h3>
                            </div>
                            <div class="o-cell price">
                                <p>12000$</p>
                                <ul class="reit">
                                    <li class="wote"></li>
                                    <li class="comment">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end -->
                </div>
            </div>
        </div>
    </div>
</div>