<div id="block-one-form" ng-controller="cabinetAdvsController as cadvs" ng-init="cadvs.getUserAdvs();">
    <h1 class="user">
        Кабінет
    </h1>
    <div class="prof-menu">
        <ul class="profile-menu">
            <li class="profile"><a ng-href="/cabinet">          [[ 'BUTTON_PROFILE' | translate ]]      </a></li>
            <li class="ogolosh"><a ng-href="/cabinet/advs">     [[ 'BUTTON_ADVERTISMENT' | translate ]] </a></li>
            <li class="povid">  <a ng-href="/cabinet/messages"> [[ 'BUTTON_MESSAGES' | translate ]]     </a></li>
            <li class="nalasht"><a ng-href="/cabinet/settings"> [[ 'BUTTON_SETTINGS' | translate ]]     </a></li>
            <li class="obrani"> <a ng-href="/cabinet/favorites">[[ 'BUTTON_FAVORITES' | translate ]]    </a></li>
        </ul>
    </div>
    <div class="profile">
        <p class="p-info">[[ 'ADVERTISMENT_HEADER' | translate ]]</p>

        <div class="info-box" ng-if="(cadvs.userAdvs) && (cadvs.userAdvs.length == 0)">
            <p class="p-info none">[[ 'NO_ADVERTISMENTS_HEADER' | translate ]]</p>
            <div class="o-button">
                <a ng-href="/add-adv">+ [[ 'BUTTON_ADD_ADVERTISMENT' | translate ]]</a>
            </div>
        </div>

        <div class="info-box" ng-if="(cadvs.userAdvs) && (cadvs.userAdvs.length > 0)">
            <div class="o-table width-50">
                <div class="o-column">
                    <advertisment ng-repeat="adv in cadvs.userAdvs track by $index"
                                  advert="adv"
                                  block-size="160px"
                                  title-size="16px"
                                  title-line-height="2em"
                                  description-size="13px"
                                  city-size="13px"
                                  show-del-from-fav-button="false"
                                  show-del-button="true">
                    </advertisment>
                </div>
            </div>
            <div class="o-button">
                <a ng-href="/add-adv">+ [[ 'BUTTON_ADD_ADVERTISMENT' | translate ]]</a>
            </div>
        </div>

    </div>
</div>