<div id="block-one-form" ng-controller="cabinetSettingsController as cabinet" ng-init="getInfo();">
    <h1 class="user">
        Кабінет
    </h1>
    <div class="prof-menu">
        <ul class="profile-menu">
            <li class="profile"><a ng-href="/cabinet">          [[ 'BUTTON_PROFILE' | translate ]]      </a></li>
            <li class="ogolosh"><a ng-href="/cabinet/advs">     [[ 'BUTTON_ADVERTISMENT' | translate ]] </a></li>
            <li class="povid">  <a ng-href="/cabinet/messages"> [[ 'BUTTON_MESSAGES' | translate ]]     </a></li>
            <li class="nalasht"><a ng-href="/cabinet/settings"> [[ 'BUTTON_SETTINGS' | translate ]]     </a></li>
            <li class="obrani"> <a ng-href="/cabinet/favorites">[[ 'BUTTON_FAVORITES' | translate ]]    </a></li>
        </ul>
    </div>

    <div class="profile">
        <p class="p-info">[[ 'SETTINGS_HEADER' | translate ]]</p>
        <div class="info-box">
            <div class="edit-menu-box">
                <ul class="edit-menu">

                    <li ng-click="cabinet.activeTab = 1;" ng-class="{ 'active': cabinet.activeTab == 1 }">
                        <a style="cursor: pointer;">Змінити контактні дані</a>
                    </li>
                    <li ng-click="cabinet.activeTab = 2;" ng-class="{ 'active': cabinet.activeTab == 2 }">
                        <a style="cursor: pointer;">Змінити пароль</a>
                    </li>
                    <li ng-click="cabinet.activeTab = 3;" ng-class="{ 'active': cabinet.activeTab == 3 }">
                        <a style="cursor: pointer;">Змінити E-mail</a>
                    </li>
                    <li ng-click="cabinet.activeTab = 4;" ng-class="{ 'active': cabinet.activeTab == 4 }">
                        <a style="cursor: pointer;">E-mail повідомлення</a>
                    </li>
                    <li ng-click="cabinet.activeTab = 5;" ng-class="{ 'active': cabinet.activeTab == 5 }">
                        <a style="cursor: pointer;">SMS сповіщення</a>
                    </li>
                    <li ng-click="cabinet.activeTab = 6;" ng-class="{ 'active': cabinet.activeTab == 6 }">
                        <a style="cursor: pointer;">Видалити обліковий запис</a>
                    </li>
                </ul>
            </div>

            <div ng-show="cabinet.activeTab == 1" class="profile-form-box">
                <form id="edit-kontakt" ng-submit="saveContactInfo(contactInfo);" novalidate>
                    <ul class="edit-kontakt">
                        <li class="value"><p>[[ 'LABEL_REGION' | translate ]]</p></li>
                        <li class="input">
                            <select id="region" ng-model="contactInfo.region">
                                <option ng-repeat="region in regions" value="[[ region.id ]]">[[ region.name ]]</option>
                            </select>
                        </li>

                        <li class="value"><p>[[ 'LABEL_CITY' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" ng-model="contactInfo.city" />
                        </li>

                        <li class="value"><p>Контактна особа</p></li>
                        <li class="input">
                            <input type="text" id="osoba" ng-model="contactInfo.name">
                        </li>

                        <li class="value"><p>[[ 'LABEL_CONTACT_NUMBER' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="phone" ng-model="contactInfo.telephoneNumber" />
                        </li>

                        <li class="value"><p>[[ 'LABEL_SKYPE' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="skype" ng-model="contactInfo.skype">
                        </li>

                        <li class="button">
                            <button type="submit">[[ 'BUTTON_SAVE' | translate ]]</button>
                            <button type="reset">Очистити</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div ng-show="cabinet.activeTab == 2" class="profile-form-box">
                <form id="edit-passw" name="changePassForm" ng-submit="changePassword(passChange);" novalidate>
                    <ul class="edit-kontakt">

                        <li class="value"><p>[[ 'LABEL_OLD_PASS' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="opassw" ng-model="passChange.opass">
                        </li>

                        <li class="value"><p>[[ 'LABEL_NEW_PASS' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="passw" ng-model="passChange.pass">
                        </li>

                        <li class="value"><p>[[ 'LABEL_NEW_RPASS' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="passw1" ng-model="passChange.rpass" />
                        </li>

                        <li class="button">
                            <button type="submit" ng-disabled="(passChange.pass != passChange.rpass) || (!passChange.pass)">
                                [[ 'BUTTON_SAVE' | translate ]]
                            </button>
                            <button type="reset">Очистити</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div ng-show="cabinet.activeTab == 3" class="profile-form-box">
                <form id="edit-mail" name="changeEmailForm" ng-submit="changeEmail(emailChange);">
                    <ul class="edit-kontakt">
                        <li class="value"><p>[[ 'LABEL_NEW_EMAIL' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="nmail" ng-model="emailChange.email">
                        </li>

                        <li class="value"><p>[[ 'LABEL_NEW_REMAIL' | translate ]]</p></li>
                        <li class="input">
                            <input type="text" id="nrmail" ng-model="emailChange.remail">
                        </li>

                        <li class="button">
                            <button type="submit" ng-disabled="(emailChange.email != emailChange.remail) || (!emailChange.email)">
                                [[ 'BUTTON_SAVE' | translate ]]
                            </button>
                            <button type="reset">Очистити</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div ng-show="cabinet.activeTab == 4" class="profile-form-box">
                <form id="edit-emess" ng-submit="saveEmailNotificationSettings(emailSettings);">
                    <ul class="edit-kontakt">
                        <li class="input">
                            <input type="checkbox" id="e-pov" ng-model="emailSettings.notifications">
                            <label for="e-pov"></label>
                            <p>[[ 'LABEL_NEW_MAIL_NOTIFICATIONS' | translate ]]</p>
                        </li>
                        <li class="input">
                            <input type="checkbox" id="e-roz" ng-model="emailSettings.spam">
                            <label for="e-roz"></label>
                            <p>[[ 'LABEL_EMAIL_SPAM' | translate ]]</p>
                        </li>
                        <li class="button">
                            <button type="submit">[[ 'BUTTON_SAVE' | translate ]]</button>
                            <button type="reset">Очистити</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div ng-show="cabinet.activeTab == 5" class="profile-form-box">
                <form id="edit-sms" ng-submit="saveSmsNotificationSettings(smsSettings);">
                    <ul class="edit-kontakt">
                        <li class="input">
                            <input type="checkbox" id="sms-spam" ng-model="smsSettings.notifications" >
                            <label for="sms-spam"></label>
                            <p>[[ 'LABEL_NEW_SMS_NOTIFICATIONS' | translate ]]</p>
                        </li>

                        <li class="value" ng-show="smsSettings.notifications">
                            <p>[[ 'LABEL_TELEPHONE_NUMBER' | translate ]]</p>
                        </li>
                        <li class="input" ng-show="smsSettings.notifications">
                            <input type="text" id="t-sms" ng-model="smsSettings.telephoneNumber" />
                            <span>наприклад 096-1234-567</span>
                        </li>

                        <li class="button">
                            <button type="submit">[[ 'BUTTON_SAVE' | translate ]]</button>
                            <button type="reset">Очистити</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div ng-show="cabinet.activeTab == 6" class="profile-form-box">
                <form id="delite">
                    <ul class="edit-kontakt">
                        <li class="value">
                            <p class="achtung">В разі видалення облікового запису всі ваші оголошення будуть зняті з публікації. Ви зможете відновити свій обліковий запис впродовж 30 днів.</p>
                        </li>

                        <li class="input">
                            <input type="checkbox" id="del" ng-model="deleteAccount" />
                            <label for="del"></label>
                            <p>Видалити обліковий запис</p>
                        </li>
                        <li class="button" ng-disabled="!deleteAccount">
                            <a ng-href="[[ urlDeleteAccount ]]" target="_self" type="submit">
                                [[ 'LINK_DELETE_ACCOUNT' | translate ]]
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>