<div ng-controller="foundController as found" ng-init="getAdvs();">

    <div class="row" ng-if="spinner">
        <div class="col-xs-12 text-center" style="padding-top: 150px;">
            <div class="center-block whirly"></div>
        </div>
    </div>

    <div id="block-one">
        <div id="kategory" class="znay">
            <p><span>Продаєте, або хотіли б придбати</span>
                У даному розділі система всім відома, продавці і покупці з легкістю знаходять один одного і здійснюють взаємодію.Відвідавши цей розділ сайту можна придбати машину, телефон і навіть будинок. Оголошення в цьому розділі розкажуть вам про ціни на пропоновані товари й так само ознайомлять з контактами продавця або покупця. Викладайте оголошення з фото, їм надається більша перевага у разі вибору серед кількох оголошень одного характеру.
            </p>
        </div>
        <div class="poshuk">
            <form class="misto">
                <input type="text">
                <button></button>
            </form>
            <form class="search">
                <input type="text">
                <button></button>
            </form>
        </div>
        <div class="kat-menu">
            <ul class="menu kat">
                <li class="doc"><a ng-click="selectCategory(34);" style="cursor: pointer;">Документи</a></li>
                <li class="pryk"><a ng-click="selectCategory(36);" style="cursor: pointer;">Прикраси</a></li>
                <li class="drib"><a ng-click="selectCategory(39);" style="cursor: pointer;">Дрібниці</a></li>
                <li class="odyag"><a ng-click="selectCategory(38);" style="cursor: pointer;">Одяг/Взуття</a></li>
                <li class="tv"><a ng-click="selectCategory(40);" style="cursor: pointer;">Тварини</a></li>
                <li class="bag"><a ng-click="selectCategory(35);" style="cursor: pointer;">Сумки/багажі</a></li>
                <li class="el"><a ng-click="selectCategory(37);" style="cursor: pointer;">Електроніка</a></li>

                <li><a ng-click="selectCategory();" style="cursor: pointer;">[[ 'BUTTON_CATEGORIES_ALL' | translate ]]</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="page-header">
            <h1>[[ 'LAST_ADS' | translate ]]</h1>
        </div>
        <div id="the-best">
            <div class="o-table">
                <div class="o-column">
                    <div class="o-row top">
                        <div class="o-cell">
                            <h3>Кращі в категорії</h3>
                        </div>
                    </div>
                    <div class="o-row">
                        <div class="o-cell photo">
                            <img src="skoda.jpg">
                        </div>
                        <div class="o-cell info">
                            <h2><a href="#">Skoda Octavia</a></h2>
                            <p>5-ти дверний ліфтбек класу "С". Третє покоління моделі "Octavia"</p>
                            <h3><a href="#">Київ</a></h3>
                        </div>
                        <div class="o-cell price">
                            <p>12000$</p>
                            <ul class="reit">
                                <li class="wote"></li>
                                <li class="comment">
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="info">
            <div ng-class="found.advsView">
                <div class="o-column">
                    <div class="o-row top">
                        <div class="o-cell">
                            <p>[[ 'ADS_VIEW' | translate ]]</p>
                        </div>
                        <div class="o-cell">
                            <ul class="menu column">
                                <li class="colum-2"><a ng-click="found.changeAdsView('o-table width-50');" style="cursor: pointer;"></a></li>
                                <li class="colum-1"><a ng-click="found.changeAdsView('o-table');" style="cursor: pointer;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <advertisment ng-repeat="adv in advs" class="o-row"
                                  advert="adv" show-del-button="false"
                                  ng-class="{ 'yellow': adv.advColor == true }">
                    </advertisment>
                </div>
            </div>
        </div>
    </div>
</div>