<div ng-controller="foundController as found" ng-init="getAdvs();">

    <div class="row" ng-if="spinner">
        <div class="col-xs-12 text-center" style="padding-top: 150px;">
            <div class="center-block whirly"></div>
        </div>
    </div>

    <div id="block-one">

        <div class="poshuk">
            <form class="misto">
                <input type="text">
                <button></button>
            </form>
            <form class="search">
                <input type="text">
                <button></button>
            </form>
        </div>
        <div class="kat-menu">

        </div>
    </div>

    <div id="content">
        <div class="page-header">
            <h1>[[ 'LAST_ADS' | translate ]]</h1>
        </div>
        <div id="the-best">
            <div class="o-table">
                <div class="o-column">
                    <div class="o-row top">
                        <div class="o-cell">
                            <h3>Кращі в категорії</h3>
                        </div>
                    </div>
                    <div class="o-row">
                        <div class="o-cell photo">
                            <img src="skoda.jpg">
                        </div>
                        <div class="o-cell info">
                            <h2><a href="#">Skoda Octavia</a></h2>
                            <p>5-ти дверний ліфтбек класу "С". Третє покоління моделі "Octavia"</p>
                            <h3><a href="#">Київ</a></h3>
                        </div>
                        <div class="o-cell price">
                            <p>12000$</p>
                            <ul class="reit">
                                <li class="wote"></li>
                                <li class="comment">
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="info">
            <div ng-class="found.advsView">
                <div class="o-column">
                    <div class="o-row top">
                        <div class="o-cell">
                            <p>[[ 'ADS_VIEW' | translate ]]</p>
                        </div>
                        <div class="o-cell">
                            <ul class="menu column">
                                <li class="colum-2"><a ng-click="found.changeAdsView('o-table width-50');" style="cursor: pointer;"></a></li>
                                <li class="colum-1"><a ng-click="found.changeAdsView('o-table');" style="cursor: pointer;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <advertisment ng-repeat="adv in advs" class="o-row"
                                  advert="adv" show-del-button="false"
                                  ng-class="{ 'yellow': adv.advColor == true }">
                    </advertisment>
                </div>
            </div>
        </div>
    </div>
</div>