<div ng-controller="signUpController as sign" style="margin-top: 30px;">
    <h1 class="podaty" align="center">
        [[ 'NAV_SIGN_UP' | translate ]]
    </h1>

    <form ng-submit="sign.signUp(sign.model)" name="signUpForm" id="pod-og" novalidate>
        <ul class="pod-form">
            <li class="value" style="line-height: 2.8em;">
                <label for="sign_user_name">[[ 'INPUT_NAME' | translate ]]</label>
            </li>
            <li class="input">
                <input class="form-input"
                       type="text"
                       name="name"
                       id="sign_user_name"
                       required
                       ng-model="sign.model.name">
            </li>

            <li class="value" style="line-height: 2.8em;">
                <label for="sign_user_mail">[[ 'LABEL_EMAIL' | translate ]]</label>
            </li>
            <li class="input">
                <input class="form-input"
                       type="email"
                       name="email"
                       id="sign_user_mail"
                       required
                       ng-model="sign.model.email">
            </li>

            <li class="value" style="line-height: 2.8em;">
                <label class="form-control-static" for="sign_user_pass">[[ 'LABEL_PASS' | translate ]]</label>
            </li>
            <li class="input">
                <input class="form-input"
                       type="password"
                       name="password"
                       id="sign_user_pass"
                       ng-minlength="5"
                       ng-maxlength="25"
                       required
                       ng-model="sign.model.pass">
            </li>

            <li class="value" style="line-height: 2.8em;">
                <label class="form-control-static" for="sign_user_pass_repeat">[[ 'LABEL_RPASS' | translate ]]</label>
            </li>
            <li class="input">
                <input class="form-input"
                       type="password"
                       id="sign_user_pass_repeat"
                       ng-minlength="5"
                       ng-maxlength="25"
                       required
                       ng-model="sign.model.rpass">
            </li>

            <li class="input sto" style="text-align: center;">
                <div style="display: inline-block;">
                    <no-captcha
                            g-recaptcha-response="sign.model.captcha"
                            theme='light'
                            control="sign.captcha"
                            site-key="6LeAmw8TAAAAABnJ-CyDKBVRYBe5_b4Mrrcx2XuE">
                    </no-captcha>
                </div>
            </li>

            <li class="input" style="text-align: center; width: 100%;">
                <button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-warning">[[ 'BUTTON_SIGNUP' | translate ]]</button>
                <button type="button" ng-click="sign.login();" class="btn btn-success">[[ 'NAV_LOGIN' | translate ]]</button>
            </li>
        </ul>
    </form>
</div>