<div class="terms-container">
    <h1 class="podaty" align="center" style="margin-top: 35px;">
        [[ 'TERMS' | translate ]]
    </h1>

    <h2>[[ 'TERMS1' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS2' | translate ]]</li>
        <li>[[ 'TERMS3' | translate ]]</li>
        <li>[[ 'TERMS4' | translate ]]</li>
        <li>[[ 'TERMS5' | translate ]]</li>
    </ol>

    <h2>[[ 'TERMS6' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS7' | translate ]]</li>
        <li>[[ 'TERMS8' | translate ]]</li>
        <li>[[ 'TERMS9' | translate ]]</li>
        <li>[[ 'TERMS10' | translate ]]</li>
        <li>[[ 'TERMS11' | translate ]]</li>
        <li>[[ 'TERMS12' | translate ]]</li>
    </ol>

    <h2>[[ 'TERMS13' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS14' | translate ]]</li>
    </ol>

    <h2>[[ 'TERMS15' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS16' | translate ]]</li>
        <li>[[ 'TERMS17' | translate ]]</li>
        <li>[[ 'TERMS18' | translate ]]</li>
    </ol>


    <h2>[[ 'TERMS19' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS20' | translate ]]</li>
        <li>[[ 'TERMS21' | translate ]]</li>
        <li>[[ 'TERMS22' | translate ]]</li>
        <li>[[ 'TERMS23' | translate ]]</li>
    </ol>

    <h2>[[ 'TERMS24' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS25' | translate ]]</li>
        <li>[[ 'TERMS26' | translate ]]</li>
        <li>[[ 'TERMS27' | translate ]]</li>
    </ol>

    <h2>[[ 'TERMS28' | translate ]]</h2>
    <ol>
        <li>[[ 'TERMS29' | translate ]]</li>
        <li>[[ 'TERMS30' | translate ]]</li>
        <li>[[ 'TERMS31' | translate ]]</li>
        <li>[[ 'TERMS32' | translate ]]</li>
    </ol>
</div>