<div ng-controller="tradingController as trade" ng-init="getAdvs();">
    <div id="block-one">
        <div id="kategory" class="prodam">
            <p><span>[[ 'BUTTON_TRADE_MAIN' | translate ]]</span>
                [[ 'TRADE_HEADER' | translate ]]
            </p>
        </div>
        <div class="poshuk">
            <form class="misto">
                <input type="text">
                <button></button>
            </form>
            <form class="search">
                <input type="text">
                <button></button>
            </form>
        </div>
        <div class="kat-menu">
            <ul class="menu kat">
                <li class="dt"><a href="#">Дитячий світ</a></li>
                <li class="nr"><a href="#">Нерухомість</a></li>
                <li class="tr"><a href="#">Транспорт</a></li>
                <li class="rb"><a href="#">Робота</a></li>
                <li class="tv"><a href="#">Тварини</a></li>
                <li class="ds"><a href="#">Дім і сад</a></li>
                <li class="el"><a href="#">Електроніка</a></li>
                <li class="bz"><a href="#">Бізнес</a></li>
                <li class="ms"><a href="#">Мода і стиль</a></li>
                <li class="hb"><a href="#">Хоббі</a></li>
                <li class="ob"><a href="#">Обміняю</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="page-header">
            <h1>[[ 'LAST_ADS' | translate ]]</h1>
        </div>
        <div id="the-best">
            <div class="o-table">
                <div class="o-column">
                    <div class="o-row top">
                        <div class="o-cell">
                            <h3>Кращі в категорії</h3>
                        </div>
                    </div>
                    <div class="o-row">
                        <div class="o-cell photo">
                            <img src="skoda.jpg">
                        </div>
                        <div class="o-cell info">
                            <h2><a href="#">Skoda Octavia</a></h2>
                            <p>5-ти дверний ліфтбек класу "С". Третє покоління моделі "Octavia"</p>
                            <h3><a href="#">Київ</a></h3>
                        </div>
                        <div class="o-cell price">
                            <p>12000$</p>
                            <ul class="reit">
                                <li class="wote"></li>
                                <li class="comment">
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="info">
            <div ng-class="trade.advsView">
                <div class="o-column">
                    <div class="o-row top">
                        <div class="o-cell">
                            <p>[[ 'ADS_VIEW' | translate ]]</p>
                        </div>
                        <div class="o-cell">
                            <ul class="menu column">
                                <li class="colum-2"><a ng-click="trade.changeAdsView('o-table width-50');" style="cursor: pointer;"></a></li>
                                <li class="colum-1"><a ng-click="trade.changeAdsView('o-table');" style="cursor: pointer;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <advertisment ng-repeat="adv in advs" class="o-row"
                                  advert="adv"
                                  ng-class="{ 'yellow': adv.advColor == true }">
                    </advertisment>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div ng-init="getAdvs();"></div>-->

<!--<div class="page-header" style="margin-top: 0;">-->
    <!--<h3>[[ 'BUTTON_CATEGORY_TRADE' | translate ]]</h3>-->
<!--</div>-->

<!--<form class="form-horizontal" role="search">-->
    <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="[[ 'SEARCH_PLACEHOLDER' | translate ]]">-->
        <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default btn-warning" type="button">[[ 'BUTTON_SEARCH' | translate ]]</button>-->
        <!--</span>-->
    <!--</div>-->
<!--</form>-->


<!--<div class="row">-->
    <!--<div class="col-xs-4 col-md-3" style="margin-top: 10px;">-->
        <!--<div class="list-group">-->
            <!--<h4 class="list-group-item list-group-item-info" align="center" style="color: #000000; padding: 10px 5px;">-->
                <!--[[ 'CATEGORIES_HEADER' | translate ]]-->
            <!--</h4>-->
            <!--<a class="btn btn-default list-group-item" style="cursor: pointer; text-align: left; white-space: normal;"-->
               <!--ng-repeat="category in categories"-->
               <!--ng-click="selectCategory(category.id);"-->
               <!--ng-class="{'category-selected': category.id == filterID }">-->
                <!--[[ category.name ]]-->
            <!--</a>-->
            <!--<a class="btn btn-default list-group-item" style="cursor: pointer; text-align: left;"-->
               <!--ng-click="selectCategory(null);"-->
               <!--ng-class="{'category-selected': filterID == null }">-->
                <!--[[ 'BUTTON_CATEGORIES_ALL' | translate ]]-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-xs-8 col-md-9">-->
        <!--<div class="row">-->
            <!--<div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 20px; height: 100%;">-->
                <!--<a class="img-thumbnail adv-shadow" ng-href="/adv/trade/[[ adv.id ]]">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div style="padding: 15px;">-->
                            <!--<img class="img-responsive center-block" style="height: 150px;" ng-src="[[ adv.image ]]" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                        <!--<hr/>-->
                        <!--<p class="text-info" style="height: 50px; word-wrap: break-word;">-->
                            <!--[[ adv.title ]]-->
                        <!--</p>-->
                        <!--<hr/>-->
                        <!--<p style="overflow: hidden; text-overflow: ellipsis;">-->
                            <!--<i style="white-space: nowrap;" class="text-muted">-->
                                <!--[[ adv.description ]]...-->
                            <!--</i>-->
                        <!--</p>-->
                        <!--<hr/>-->
                        <!--<p style="color: #000000;">-->
                            <!--[[ adv.price + ' ' + adv.priceType.name ]]-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="text-center">-->
                <!--<paginator data="data"></paginator>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->