<h4>
    Знайди своє це сервіс - бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
    бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла...
</h4>

<div class="row">
    <div class="col-md-4">
        <h1 align="center">Блок 1</h1>
        <div align="center">
            <h5>В цьому розділі бла бла бла бла бла бла бла бла...</h5>
            <ul class="list-unstyled">
                <li><h4><a>Об’ява 1</a></h4></li>
                <li><h4><a>Об’ява 2</a></h4></li>
                <li><h4><a>Об’ява 3</a></h4></li>
                <li><h4><a>Об’ява 4</a></h4></li>
                <li><h4><a>Об’ява 5</a></h4></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <h1 align="center">Блок 2</h1>
        <div align="center">
            <h5>В цьому розділі бла бла бла бла бла бла бла бла...</h5>
            <ul class="list-unstyled">
                <li><h4><a>Об’ява 1</a></h4></li>
                <li><h4><a>Об’ява 2</a></h4></li>
                <li><h4><a>Об’ява 3</a></h4></li>
                <li><h4><a>Об’ява 4</a></h4></li>
                <li><h4><a>Об’ява 5</a></h4></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <h1 align="center">Блок 3</h1>
        <div align="center">
            <h5>В цьому розділі бла бла бла бла бла бла бла бла...</h5>
            <ul class="list-unstyled">
                <li><h4><a>Об’ява 1</a></h4></li>
                <li><h4><a>Об’ява 2</a></h4></li>
                <li><h4><a>Об’ява 3</a></h4></li>
                <li><h4><a>Об’ява 4</a></h4></li>
                <li><h4><a>Об’ява 5</a></h4></li>
            </ul>
        </div>
    </div>
</div>