<div class="clearfix"></div>
<footer>
    <div class="register">
        <a ng-show="user !== null" ng-href="/cabinet" href="javascript:void(0);">[[ 'Кабінет' ]]</a>
        <a ng-hide="user !== null" ng-href="/singup"  href="javascript:void(0);">[[ 'Реєстрація' ]]</a>
    </div>
    <div class="foot-mod">
        <div class="mod-1">
            <h3>Дізнайся про нас більше</h3>
            <p>Ми у соціальних мережах</p>
            <ul class="soc-mer">
                <li class="vk"><a href="http://vk.com/znaidusvoe"></a></li>
                <li class="fb"><a href="https://www.facebook.com/znaidusvoe"></a></li>
                <li class="yt"><a href="https://www.youtube.com/channel/UCWzdFkMtidfb50GwtNb0OPQ/about"></a></li>
                <li class="gp"><a href="https://plus.google.com/u/1/112195739298704837357/posts"></a></li>
                <li class="tw"><a href="https://twitter.com/znaidusvoe"></a></li>
            </ul>
        </div>
        <div class="mod-2">
            <h3>Переходи на розділи:</h3>
            <ul class="menu rozd">
                <li><a ng-href="/additional-features">Платні послуги</a></li>
                <li><a ng-href="/privacy-and-policy">Правила безпеки</a></li>
                <li><a ng-href="/about">Про проект</a></li>
                <li><a ng-href="/terms-of-use">Умови використання</a></li>
            </ul>
        </div>
    </div>
    <div class="pull-right" style="margin: 0 10px 10px;">
        <span style="color: whitesmoke;">Created by:</span>
        <a href="//github.com/BuglessBeasts" style="color: burlywood;">BuglessBeasts</a>
    </div>
</footer>