<div class="clearfix"></div>
<footer>
    <div class="register">
        <a ng-show="user !== null" ng-href="/cabinet" href="javascript:void(0);">[[ 'Кабінет' ]]</a>
        <a ng-hide="user !== null" ng-href="/singup"   href="javascript:void(0);">[[ 'Реєстрація' ]]</a>
    </div>
    <div class="foot-mod">
        <div class="mod-1">
            <h3>Дізнайся про нас більше</h3>
            <p>Ми у соціальних мережах</p>
            <ul class="soc-mer">
                <li class="vk"><a href="#"></a></li>
                <li class="fb"><a href="#"></a></li>
                <li class="yt"><a href="#"></a></li>
                <li class="gp"><a href="#"></a></li>
                <li class="tw"><a href="#"></a></li>
            </ul>
        </div>
        <div class="mod-2">
            <h3>Переходи на розділи:</h3>
            <ul class="menu rozd">
                <li><a href="#">Платні послуги</a></li>
                <li><a href="#">Правила безпеки</a></li>
                <li><a href="#">Про проект</a></li>
                <li><a href="#">Умови використання</a></li>
            </ul>
        </div>
    </div>
    <div class="pull-right" style="margin: 0 10px 10px;">
        <span style="color: whitesmoke;">Created by:</span>
        <a href="//vk.com/riki34" style="color: burlywood;">riki34</a>
    </div>
</footer>