<div class="poshuk">
    <form class="misto">
        <select ng-model="selectedRegion">
            <option value="1" >Автономна Республіка Крим</option>
            <option value="2" >Вінницька область</option>
            <option value="3" >Волинська область</option>
            <option value="4" >Дніпропетровська область</option>
            <option value="5" >Донецька область</option>
            <option value="6" >Житомирська область</option>
            <option value="7" >Закарпатська область</option>
            <option value="8" >Запорізька область</option>
            <option value="9" >Івано-Франківська область</option>
            <option value="10">Київська область</option>
            <option value="11">Кіровоградська область</option>
            <option value="12">Луганська область</option>
            <option value="13">Львівська область</option>
            <option value="14">Миколаївська область</option>
            <option value="15">Одеська область</option>
            <option value="16">Полтавська область</option>
            <option value="17">Рівненська область</option>
            <option value="18">Сумська область</option>
            <option value="19">Тернопільська область</option>
            <option value="20">Харківська область</option>
            <option value="21">Херсонська область</option>
            <option value="22">Черкаська область</option>
            <option value="23">Чернівецька область</option>
            <option value="24">Чернігівська область</option>
        </select>
        <button></button>
    </form>
    <form class="search">
        <input type="text">
        <button></button>
    </form>
</div>